body{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.main{
   display: flex;
   justify-content: center;
   width: 100%;
   min-height: 5466px;
   .mainflow{
      display: flex;
      flex-direction: column;
      max-width: 2560px;
      width: 100%;
      min-height: 5466px;
      background-color: #F2F6FA;
   }
}